
@{
    ViewBag.Title = "ShowArts";
}

<h2>ShowArts</h2>

<iframe id="iframe" scrolling="no" allowtransparency="true" 
        frameborder="0" src="http://localhost:44306/ArtView" 
        style="background-color:#f7f7fa; margin-top: -65px"
        width="1150" height="1000">
</iframe>